.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    z-index: 4;
    padding: 1.3rem 0;
    mix-blend-mode: difference;
    .navbar-title {
        font-weight: 700;
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
        background-color: black;
    }
    .lines-navbar {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 2%;
        min-width: 20px;
        justify-content: center;
        align-items: center;
        height: 50px;
        .line-nav{
            height: 3px;
            width: 100%;
            background-color: white;
        }
    }
}
